// опишем внешний вид
.loaderSpinner {
	width: 80px; // нам нужен квадрат, поэтому задаём одинаковые ширину и высоту
	height: 80px;
	border: 10px solid #f3f3f3; // задаём границу квадрата для того, чтобы у нас было что-то типа дорожки, по которой "ездит" сектор нашего импровизированного круга
	border-top: 10px solid #3498db; // для одной из сторон квадрата задаём другой цвет, эта сторона будет имитировать подвижный сектор круга
	border-radius: 50%; // делаем из квадрата круг с помощью старого трюка с border-radius: 50%;
	animation: spin 1s linear infinite; // и наконец анимируем
}

// опишем саму анимацию с помощью @правила keyframes (не забываем написать название правила - spin)
@keyframes spin {
	0% {
		transform: rotate(0deg); // в начальном положении у нас ещё элемент не повернулся
	}
	100% {
		transform: rotate(360deg); // в конечном положении он совершил полный оборот
	}
}
