.tabContainer {
	flex-grow: 1; // делаем флекс-элемент "жадным" / расширяющимся на всю доступную ширину контейнера
}

// описываем внешний вид кнопки-таба
.tab {
	width: 100%; // занимаем всю ширину - красиво!
	border: none; // убираем дефолтное уродство
	background-color: cadetblue;
	padding: 20px; // "даём воздух"
	cursor: pointer; // упрощаем взаимодействие с кнопкой
	margin: 0;
	// описываем внешний вид активной вкладки
	&IsActive {
		background-color: cornflowerblue;
	}
	// "накидываем" эффекты состояний
	&:hover {
		opacity: 0.9;
	}
	&:active {
		opacity: 0.7;
	}
}
